#project{
    margin: 0 auto;
    /* min-height: calc(100vh - 5rem); */
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    
} 

.projectTitle{
    margin: 1rem 0;
    font-size: 3rem;
}
.projectDesc{
    font-size: 1rem;
    font-weight: 300;
    max-width: 45rem;
    padding: 1rem;
}
.projectImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 65rem;
}
.projectImg{
    object-fit: cover;
    height: 10rem;
    margin: 0.5rem;
    width: 15rem;
}

@media screen and (max-width:580px) {
    .projectImg{
        width:48vw;
        height: 50vw;
    }
}