#skill{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.skillTitle{
    font-size: 3rem ;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.skillDesc{
    font-size: 1.20rem;
    font-weight: 300;
    max-width: 50rem;
    padding: 0 2rem;
}
.skillBoxes{
    margin: 0.5rem 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillBox{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(45,45,45);
}
.skillBoxImg{
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
}
.skillBoxText{
    font-size: 0.9rem;
    font-weight: 300;
}
@media screen and (max-width:720px) {
    .skillDesc{
        font-size: 3vw;
    }
    .skillBoxText>p{
        font-size: 2vw;
    }
}

@media screen and (max-width:480px) {
    .skillBoxText>p{
        font-size: 3vw;
    }
    .skillBoxImg{
        width: 2.25rem;
        height: 2.25rem;
    }
    .skillBoxText>h2{
    font-size: 5vw;
    }
}